header.header
    .header__column
        a(href=routes.home)
        i.fab.fa-youtube
    .header__column
        if !user
            ul
                li
                    a(href=`/users${routes.join}`) Join
                li 
                    a(href=`/users${routes.login}`) Log in
        else
            ul
                li
                    a(href=`/videos${routes.upload}`) Upload
                li 
                    a(href=`/users${routes.logout}`) Log out
            